<h2>Job Form</h2>

<!--<form #form="ngForm" (ngSubmit)="addNew(form.value)" novalidate>
  <label>Value:</label>
  <input type="text" ngControl="text" required>
  <input type="text" ngControl="lyric" required>
  <button type="submit" [disabled]="!form.form.valid">Add</button>
</form>-->

<form #form="ngForm" (ngSubmit)="addNew(form.value)">
  
    <div class="form-group">
      <label for="text">Text</label>
      <input  ngControl="text" type="text" class="form-control" required>
    </div>
    <div class="form-group">
       <label for="text">Lyric</label>
      <input ngControl="lyric" type="text" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary"  [disabled]="!form.form.valid">Add</button>
    
</form>